.host_main {
  background: #494d55;
  height: 100vh;
  overflow: auto;
  display: block;
}

.host_header {
  min-height: 1vh;
  display: flex;
  flex-direction: row;
   
  background: #0cacd8;
}

.host_footer {
  position: absolute;
  bottom: 0;

  min-height: 1vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  background: #0cacd8;  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
